@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.Blocks

@{
    var logo = Model?.Value<IPublishedContent>("logotype")?.Url() ?? "";
}

<header class="site-header">
    <div class="top-bar">
        <div class="container">
            <div class="address">Klarabergsviadukten 90, 111 64 Stockholm</div>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="main-header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="@logo" alt="Logo" />
                    <span>Onatrix</span>
                </a>
            </div>
            
            <nav class="main-navigation">
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

            <div class="search-icon">
                <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
    </div>
</header>
